<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>

  var loadedMaps = [];

  var mapOptions = {
    center: new google.maps.LatLng(52.023762, -3.377263),
    zoom: 2,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  }

  /**
   * Load and display map, only loads once
   */
  function displayMap(rideId, rideName) {
    if ($.inArray(rideId, loadedMaps) == -1) {
      console.log("Loading" + rideName)
      var src = "{{site.url}}/rides/data/" + rideName;
      var mapCanvas = "map_" + rideName;
      var map = new google.maps.Map(document.getElementById(mapCanvas), mapOptions);
      loadKmlLayer(src, map);
      loadedMaps.push(rideId);
    }
  }

  /**
   * Adds a KMLLayer
   */
  function loadKmlLayer(src, map) {
    var kmlLayer = new google.maps.KmlLayer(src, {
      suppressInfoWindows: true,
      preserveViewport: false,
      map: map
    });

    google.maps.event.addListener(kmlLayer, "metadata_changed", function() {
      console.debug("metadata_changed");
      console.debug(kmlLayer.getMetadata());
      $("#title").text(kmlLayer.getMetadata().name);
    });

    google.maps.event.addListener(kmlLayer, 'click', function(event) {
      var content = event.featureData.infoWindowHtml;
      $("#description").html(content);
      console.debug(content);
    });
  }
</script>