
<div class="masthead">
  <ul class="nav nav-justified">

    {% if page.menu == "home" %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
        <a href="/">Home</a>
    </li>
<!--

    {% if page.menu == "projects" %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
        <a href="/projects/">Projects</a>
    </li>
    
-->
    {% if page.menu == "rides" %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
        <a href="/rides/">Rides</a>
    </li>

    {% if page.menu == "contact" %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
        <a href="/contact/">Contact</a>
    </li>            
  </ul>
</div>


